* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
header {
  background-color: #cccccc;
  min-height: 70px;
  padding: 15px;
}
main {
  background-color: #dddddd;
  min-height: 700px;
  padding: 7.5px 15px;
}
footer {
  background-color: #cccccc;
  min-height: 70px;
  padding: 15px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login-form {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border: 2px dotted #cccccc;
  border-radius: 10px;
}
h1 {
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
.input-box {
  margin-bottom: 10px;
}
.input-box input {
  padding: 7.5px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
}
.btn-box {
  text-align: right;
  margin-top: 30px;
  padding: 7.5px 15px;
  border-radius: 2px;
}
.btn-box button {
  padding: 7.5px 15px;
  border-radius: 2px;
  background-color: #009999;
  color: #ffffff;
  border: none;
  outline: none;
}

.key-solution {
  padding: 30px 5px;
}
.key-solution h3 {
  padding: 30px 5px;
}

.left-column {
  width: 30%;
  background: #dddddd;
  float: left;
}
.right-column {
  width: 60%;
  background: #dddddd;
  float: right;
}
.key-password {
  clear: both;
}
.right-column .right-fieldset {
  margin-left: 30px;
}
.left-column img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 9px;
}
.key-solution .right-column .key-legend {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgb(199, 148, 71);
}
.squaredcheck {
  margin: 18px 10px;
}
.password-solution {
  padding: 20px 5px;
}
.password-solution h3 {
  padding: 30px 0px;
}
.key-password p {
  padding: 40px 0;
  color: rgb(219, 10, 10);
}
.password-intro p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 500;
  font-style: italic;
  color: #1e1f1d;
  line-height: 30px;
}
.password-infor {
  padding: 20px;
}
.password-infor p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 500;
  color: #1e1f1d;
}
.password-infor .passwordcheck {
  margin: 18px 10px;
}
.password-infor .password-legend {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgb(199, 148, 71);
}
